@model InMemDb.Models.CartEditViewModel.EditCartViewModel

@{
    ViewData["Title"] = "EditCartItemIngredients";
}

<h2>Add or Remove Ingredients</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCartItemIngredients">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CartItemId" />
            <input type="hidden" asp-for="CartItem.DishOriginalPrice" />
            <div class="form-group">
                @{
                    for (int i = 0; i < Model.CartItemIngredients.Count; i++)
                    {
                        <div class="checkbox">
                            <input asp-for="@Model.CartItemIngredients[i].Checked" type="checkbox" />
                            <label asp-for="@Model.CartItemIngredients[i]">@Model.CartItemIngredients[i].Ingredient.Name</label>
                            <label asp-for="@Model.CartItemIngredients[i]">@Model.CartItemIngredients[i].CartItemIngredientPrice kr</label>
                            <input asp-for="@Model.CartItemIngredients[i].Ingredient.IngredientId" type="hidden" />
                            <input asp-for="@Model.CartItemIngredients[i].CartItemIngredientPrice" type="hidden" />
                            <input asp-for="@Model.CartItemIngredients[i].CartItem" type="hidden" />
                            <input asp-for="@Model.CartItemIngredients[i].IngredientId" type="hidden" />
                            <input asp-for="@Model.CartItemIngredients[i].Ingredient.IngredientPrice" type="hidden" />
                            <input asp-for="@Model.CartItemIngredients[i].Ingredient.Name" type="hidden" />
                        </div>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

